@font-face {
  font-family: 'Lab Grotesque';
  src: url('shared/assets/fonts/LabGrotesque-Regular.eot'),
  local('Lab Grotesque Regular'),
  local('LabGrotesque-Regular'),
  url('shared/assets/fonts/LabGrotesque-Regular.eot') format('embedded-opentype'),
  url('shared/assets/fonts/LabGrotesque-Regular.woff2') format('woff2'),
  url('shared/assets/fonts/LabGrotesque-Regular.woff') format('woff'),
  url('shared/assets/fonts/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('shared/assets/fonts/LabGrotesque-Bold.eot'),
  local('Lab Grotesque Bold'),
  local('LabGrotesque-Bold'),
  url('shared/assets/fonts/LabGrotesque-Bold.eot') format('embedded-opentype'),
  url('shared/assets/fonts/LabGrotesque-Bold.woff2') format('woff2'),
  url('shared/assets/fonts/LabGrotesque-Bold.woff') format('woff'),
  url('shared/assets/fonts/LabGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Lab Grotesque';
  src: url('shared/assets/fonts/LabGrotesque-Light.eot'),
  local('Lab Grotesque Light'),
  local('LabGrotesque-Light'),
  url('shared/assets/fonts/LabGrotesque-Light.eot') format('embedded-opentype'),
  url('shared/assets/fonts/LabGrotesque-Light.woff2') format('woff2'),
  url('shared/assets/fonts/LabGrotesque-Light.woff') format('woff'),
  url('shared/assets/fonts/LabGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}